﻿@model NekioriCoreSinAutf.Models.Caso

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Caso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCasos" class="control-label"></label>
                <input asp-for="IdCasos" class="form-control" />
                <span asp-validation-for="IdCasos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroCaso" class="control-label"></label>
                <input asp-for="NroCaso" class="form-control" />
                <span asp-validation-for="NroCaso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantDatos" class="control-label"></label>
                <input asp-for="CantDatos" class="form-control" />
                <span asp-validation-for="CantDatos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Listado" class="control-label"></label>
                <input asp-for="Listado" class="form-control" />
                <span asp-validation-for="Listado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select asp-for="IdCliente" class ="form-control" asp-items="ViewBag.IdCliente"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
