﻿@model NekioriCoreSinAutf.Models.Caso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Caso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroCaso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroCaso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantDatos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantDatos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Listado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Listado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.Contacto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCasos">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
