﻿@model IEnumerable<NekioriCoreSinAutf.Models.Caso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NroCaso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantDatos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NroCaso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantDatos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Listado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.Contacto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCasos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCasos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCasos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
