﻿@model NekioriCoreSinAutf.Models.Disco

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Disco</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDispositivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDispositivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interfaz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interfaz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCasoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCasoNavigation.IdCasos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDisco">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
