﻿@model NekioriCoreSinAutf.Models.Disco

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Disco</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDisco" />
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacidad" class="control-label"></label>
                <input asp-for="Capacidad" class="form-control" />
                <span asp-validation-for="Capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serial" class="control-label"></label>
                <input asp-for="Serial" class="form-control" />
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDispositivo" class="control-label"></label>
                <input asp-for="TipoDispositivo" class="form-control" />
                <span asp-validation-for="TipoDispositivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interfaz" class="control-label"></label>
                <input asp-for="Interfaz" class="form-control" />
                <span asp-validation-for="Interfaz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCaso" class="control-label"></label>
                <select asp-for="IdCaso" class="form-control" asp-items="ViewBag.IdCaso"></select>
                <span asp-validation-for="IdCaso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
