﻿@model IEnumerable<NekioriCoreSinAutf.Models.Disco>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDispositivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interfaz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCasoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDispositivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interfaz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCasoNavigation.IdCasos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDisco">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDisco">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDisco">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
